[Unit]
Description = Mount for {{ lookup('vars', ansible_loop_var).0.path }}

[Mount]
What=/dev/disk/by-uuid/{{ lookup('vars', ansible_loop_var).1.stdout }}
Where={{ lookup('vars', ansible_loop_var).0.path }}
Type={{ lookup('vars', ansible_loop_var).0.fs_type }}
Options={{ lookup('vars', ansible_loop_var).0.mount_options | default([]) | join(',') }}

[Install]
WantedBy = multi-user.target
